{{ define "content" }}
    <div class="container">
        <div class="posts pt-3">
            <div class="description">
                <a href="#">Start a thread</a> or join one below
            </div>
            <div class="post pt-3">
                <div class="card">
                    <div class="card-header">
                        How Long does it take to write a book?
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="card-link">Post By</div>
                            <a href="#" class="card-link">Read more</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>

    </div>
{{ end }}